//Mixin pour la média-queries de la version desktop
@mixin responsive-desktop {
    @media screen and (min-width : $break-desktop){
        @content;
    }
}

$mobile: 375px;
$desktop: 1400px;
$tablet : 670px;
@mixin media-minMaxWidth($min-width, $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }}


@mixin media-maxwidth($screensize) {
    @media (max-width:$screensize) {
        @content;
    }
}

@mixin media-minwidth($screensize) {
    @media (min-width:$screensize) {
        @content;
    }
}
@mixin media-minwidth($screensize) {
    @media (min-width:$screensize) {
        @content;
    }
}


