// .header__bottom {
//     margin-top: 15px;
//     background-position: cover;
//     padding:10px;
//     border-radius: 10px;
//     background: rgb(2,0,36);
// background: linear-gradient(335deg, rgba(2,0,36,1) 0%, rgba(121,71,9,1) 25%, rgba(227,125,8,1) 46%, rgba(228,188,145,1) 100%);


//     text-align: end; 

//     &__img {
//         width: 40%; 

//     }
// }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: flex;
    justify-content: center;
    display: none;

    &__content {
        max-width: 600px;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        background: white;
        border-radius: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: transform .2s;
        font-size: 20px;
        h1 {
            padding: 30px;
        }
        &__button{
        &--reset {
            width: 100px;
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            margin-top: 10px;
        }

       

        &--pay {
            width: 100px;
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            margin-top: 10px;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                background-color: black;
            }
        }
    }
        &--exit {
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            padding: 5px 10px;
            background-color: black;
            color: white;
            border-radius: 5px;
            top: -10px;
            right: -10px;
        }

    }
}

.popup.open {
    display: block;
}